@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <table class="table table-striped table-bordered">

        <tbody>

            <tr>
                <td>TICKET</td>
            </tr>
            <tr>
                <td>
                    Ticket ID: <input type="text" id="ticketId">

                </td>
            </tr>
            <tr>
                <td>
                    Asignado: <input type="text" id="ticketAsignado">

                </td>
            </tr>
            <tr>
                <td>
                    Descripcion: <input type="text" id="ticketDescripcion">

                </td>


            </tr>
            <tr>
                <td>
                    Estatus:
                    <select id="dropEstados">
                        <option value="ABIERTO">ABIERTO</option>
                        <option value="ASIGNADO">ASIGNADO</option>
                        <option value="CERRADO">CERRADO</option>
                        <option value="ENESPERA">ES ESPERA DE USUARIO</option>
                        <option value="ENPROCESO">EN PROCESO</option>
                        <option value="TERMINADO">TERMINADO</option>
                    </select>
                    <input type="hidden" id="ticketStatusInicial" value="">
                </td>


            </tr>
            <tr>
                <td>
                    <input type="submit" value="Guardar" onclick="GuardarTicket();  false;">
                </td>
            </tr>

        </tbody>
    </table>


</div>
<script>
    function ObtenerTicket() {


        $.ajax({
            url: '/home/Ticket',
            type: "GET",
            contentType: "application/json",
            success: function (datos) {

                $('#ticketId').val("valor inicial");

                //pasando valores a la forma
                document.getElementById("ticketId").value = datos.TicketId;
                document.getElementById("ticketDescripcion").value = datos.Description;
                document.getElementById("ticketAsignado").value = datos.AsignatedTo;
         
                //
                document.getElementById("ticketStatusInicial").value = datos.Status;
                
                SeleccionarDropDownStatus(datos.Status);


                console.log('se cargaron datos ok');
            },
            error: function () {
                alert('Something went wrong');
            }
        });
    }

    function SeleccionarDropDownStatus(estadoActual)
    {

        console.log(estadoActual);
        //pendiente por inhabilitar los estados deacuerdo a 
        //  //ABIERTO, ASIGNADO, CERRADO, ES ESPERA DE USUARIO, EN PROCESO, TERMINADO
        $('#dropEstados').val(estadoActual);
     
    }

    function GuardarTicket() {

    
        var id = document.getElementById("ticketId").value;
        var descripcion = document.getElementById("ticketDescripcion").value;
        var asignado = document.getElementById("ticketAsignado").value;
        var statusInicial = document.getElementById("ticketStatusInicial").value;
         var statusSeleccionado= $("#dropEstados option:selected").val();        
                TicketId = 5,
                AsignatedTo = "",
                Description = "Atencion de Emails",
                Status = "CERRADO"


        item = {
            TicketId: id,
            AsignatedTo: asignado,
            Description: descripcion,
            Status: statusInicial,
            StatusSeleccionado: statusSeleccionado
        }

        $.ajax({
            url: '/home/Ticket',
            data: JSON.stringify(item),
            type: "POST",
            contentType: "application/json",
            success: function (mensaje) {

                alert(mensaje);
            },
            error: function () {
                alert('Something went wrong');
            }
        });

       
    }

    //carga inicial de datos

    window.addEventListener('load', function () {
        ObtenerTicket();
    }, false);


</script>